<%-include('header') -%>

<h3>Currently working on this... </h3>

<img src="https://cdn.drlinkcheck.com/blog/410-gone.png">
<!-- <form method="POST" action="/updateuser" enctype="application/x-www-form-urlencoded"> -->
    <!-- <input type="hidden" name="_method" value="PUT"> -->
    <!-- <button type="submit">PUT</button> -->
  <!-- </form> -->
  <!-- <form method="POST" action="/deleteuser" enctype="application/x-www-form-urlencoded"> -->
    <!-- <input type="hidden" name="_method" value="DELETE"> -->
    <!-- <button type="submit">DELETE</button> -->
  <!-- </form> -->
  
  <%-include('footer') -%>